<div class="col-md-8 well">
  <%= form_for (mealplan)  do |f| %>
  <%= render partial: 'layouts/errors', locals: {object: mealplan} %>

<div class="center">
  <%= f.label :goal %>
  <%= f.select(:goal, ["Weight Loss", "Tone", "Fat Loss", "Gain Muscle", "Maintain"]) %>
</div>

<div class="center">
  <%= f.label :description %>
  <%= f.select(:description, ["Regular", "Vegetarian", "Vegan", "Pescatarian", "Gluten Free", "Keto"]) %>
</div>
  <br><br>

  <h4>And add a meal schedule:</h4>

<div class="col-md-8 well">
  <%= f.fields_for :meal_schedule do |ms|%>

<div class="center">
  <%= ms.label :eating_time %>
  <%= ms.select(:eating_time, ["Morning", "Afternoon", "Evening", "Night"]) %>
</div>

<div class="center">
  <%= ms.label :meal_type %>
  <%= ms.select(:meal_type, ["Breakfast", "Lunch", "Dinner", "Snack", "Dessert"]) %>
</div>

<div class="center">
  <%= ms.label :meal_id, "Select a Meal"%>
  <%= ms.collection_select :meal_id, Meal.all, :id, :protein, prompt: true %>
</div>

  <br><br>

      <h4>And add a new meal:</h4>

      <%= ms.fields_for meal do |m|%>

        <%= m.label :protein %>
        <%= m.text_field :protein, placeholder: "Chicken" %>

        <%= m.label :vegetable %>
        <%= m.text_field :vegetable, placeholder: "Spinach" %>

        <%= m.label :side %>
        <%= m.text_field :side, placeholder: "Fries" %>

        <%= m.label :beverage %>
        <%= m.text_field :beverage, placeholder: "Water" %>

        <%= m.label :beverage_ounces %>
        <%= m.number_field :beverage_ounces, placeholder: "16 ounces" %>

        <%= m.label :day %>
        <%= m.date_field :day %>

        <%= m.label :favorite %>
        <%= m.select :favorite, [['No', 'false'],['Yes', 'true']] %>

      <% end %>
      <% end %>

<div class="center">
  <%= f.submit %>
</div>
<% end %>
