<%= render "shared/page_title", title: "Your Meal Plan" %>
<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Meal Plan Description: </strong></h4>
  <hr />
  <ul>
    <li><strong><%= @meal_plan.goal %></strong> (Goal)</li>
    <li><strong><%= @meal_plan.description%></strong> (Description)</li>

</ul>
<div class="recipe-actions">
  <%= link_to "Add Meals", new_meal_plan_meal_path(@meal_plan), class:"btn btn-xs btn-xlarge" %>
  <%= link_to "See Meals", meal_plan_meals_path(@meal_plan), class:"btn btn-xs btn-xlarge" %>
  <%= link_to "Edit Meal Plan", edit_meal_plan_path(@meal_plan), class:"btn btn-xs btn-warning" %>
  <%= link_to "Delete Meal Plan", meal_plan_path(@meal_plan), method: :delete, data: { confirm: "Are you sure you want to delete this meal plan?"}, class:"btn btn-xs btn-danger" %>
</div>
