<h1> Your Current Meal Plan </h1>

<div class="col-md-8 well">
  <p> Your meal plan is: </p>
  <ul>
    <li><strong><%= @meal_plan.goal %></strong> (Goal)</li>
    <li><strong><%= @meal_plan.description%></strong> (Description)</li>
</div>
</ul>
<%= link_to "Add Meals", new_meal_plan_meal_path(@meal_plan), class:"btn btn-danger btn-lg btn-xlarge" %>
<%= link_to "See Meals", meal_plan_meals_path(@meal_plan), class:"btn btn-danger btn-lg btn-xlarge" %>

<br><br>
  <%= link_to "Edit Meal Plan", edit_meal_plan_path(@meal_plan),  class:"btn btn-danger btn-lg btn-xlarge" %>
  <%= link_to "Delete Meal Plan", meal_plan_path(@meal_plan), method: :delete, class:"btn btn-danger btn-lg btn-xlarge"  %>
