<h1> Your Current Meal Plan </h1>
<p>Meal Plan Goal: <%= @meal_plan.goal %></p>
<p>Meal Plan Description: <%= @meal_plan.description%></p>


<%= link_to "Add Meals", new_meal_plan_meal_path(@meal_plan), class:"btn btn-danger btn-lg btn-xlarge" %>

<br><br>
  <%= link_to "Edit Meal Plan", edit_meal_plan_path(@meal_plan),  class:"btn btn-danger btn-lg btn-xlarge" %>
  <%= link_to "Delete Meal Plan", meal_plan_path(@meal_plan), method: :delete, class:"btn btn-danger btn-lg btn-xlarge"  %>
