<h1> Sign up for an account:</h1>
<hr />
<%= form_for (@user)  do |f| %>
  <%= render partial: 'layouts/errors', locals: {object: @user} %>


  <%= f.label :name %>
  <%= f.text_field :name, required:true %>

  <%= f.label :email %>
  <%= f.email_field :email, required:true %>

  <%= f.label :password %>
  <%= f.password_field :password, required:true  %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, required:true  %>

  <br><br>

  <h3> Or sign up with <%= link_to "Facebook", "/auth/facebook" %></h3>

  <%= f.submit "Create Account" %>
<% end %>
