<%= render "shared/page_title", title: "#{@user.name}'s Profile" %>

<div class="col-md-8 well">
  <h4>Name: <%= @user.name %></h4>
  <h4> Email: <%= @user.email %></h4>
</div>

  <br><br>

  <h4 align="center">Your Meal Plans</h4>
  <hr />

<div align="center">
  <%= will_paginate @user_mealplans %>
</div>
  <%= render 'meal_plans/mealplan', obj: @user_mealplans %>
<div align="center">
  <%= will_paginate @user_mealplans %>
</div>

<br><br>

<%= link_to "Select a Meal Plan", new_meal_plan_path, class:"btn btn-xs btn-xlarge"%>
<%= link_to "See Meal Plans", meal_plans_path, class:"btn btn-xs btn-xlarge"%>
<%= link_to "Log Out", logout_path, method: :delete, class:"btn btn-xs btn-xlarge"%>
</div>
