<%= form_for [meal.meal_plan, meal] do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @meal} %>
  <%= f.hidden_field :meal_plan_id %>
  <div class="col-md-8 well">


  <%= f.label :food %>
  <%= f.text_field(:food) %>


  <%= f.label :beverage %>
  <%= f.text_field(:beverage) %>

  <%= f.label :drink %>
  <%= f.number_field(:drink) %>

  <%= f.label :day %>
  <%= f.date_field(:day) %>



  <%= f.label :favorite %>
  <%= f.select :favorite, [['No', 'false'],['Yes', 'true']] %>


<br><br>


  <%= f.label :meal_plan_id, "Select a Meal Plan"%>
  <%= f.collection_select :meal_plan_id, MealPlan.all, :id, :goal, prompt: true %>


  <br><br>

<div class="center">
  <%= f.submit %>
</div>
<% end %>
