<%= form_for [meal.meal_plan, meal] do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @meal} %>
  <%= f.hidden_field :meal_plan_id %>
  <div>
    <%= f.label :food %>
    <%= f.text_field(:food) %>
  </div>

  <div>
    <%= f.label :day %>
    <%= f.date_field(:day) %>
</div>

<div>
  <%= f.label :favorite %>
  <%= f.select :favorite, [['No', 'false'],['Yes', 'true']] %>
</div>

<div>
  <%= f.label :meal_plan_id, "Select a Meal Plan"%>
  <%= f.collection_select :meal_plan_id, MealPlan.all, :id, :goal, prompt: true %>
</div>

  <br><br>

  <%= f.submit %>
<% end %>
