<%= form_for [@meal]  do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @meal} %>
  <div>
    <%= f.label :food %>
    <%= f.text_field(:food) %>
  </div>

  <div>
    <%= f.label :day %>
    <%= f.date_field(:day) %>
</div>

<div>
  <%= f.label :meal_plan_id, "Select a Meal Plan"%>
  <%= f.collection_select :meal_plan_id, MealPlan.all, :id, :goal, prompt: true %>
</div>
<br><br>
<h4> Or Create a Meal Plan: </h4>
<div>
  <%= f.fields_for :meal_plan  do |m| %>
    <%= m.label :goal %>
    <%= m.select(:goal, ["Weight Loss", "Tone", "Fat Loss", "Gain Muscle", "Maintain"]) %>
</div>

<div>
    <%= m.label :description %>
    <%= m.select(:description, ["Regular", "Vegetarian", "Vegan", "Pescatarian", "Gluten Free", "Keto"]) %>
</div>
  <% end %>
</div>

  <br><br>

  <%= f.submit %>
<% end %>
