<h1 align="center"> Edit Your Meals</h1>

<%= form_for [@meal]  do |f| %>
  <%= f.label :food %>
  <%= f.text_field(:food) %>

  <%= f.label :day %>
  <%= f.date_field(:day) %>

  <%= f.label :favorite %>
  <%= f.select :favorite, ['False', 'True'] %>

  <br><br>

  <%= f.label :meal_plan_id, "Select a Meal Plan"%>
  <%= f.collection_select :meal_plan_id, MealPlan.all, :id, :goal, prompt: true %>


  <br><br>
  <%= f.submit %>
<% end %>
