<h1 align="center">All the meals</h1>
<hr />

<% @meals.each do |meal| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <div class="col-md-8 well">
       <p><strong><%= meal.meal_plan.try(:goal) %></strong> (meal plan)</p>
       <p><%= link_to "Current meal", meal_path(meal) %></p>
        <ul>
          <li><%= meal.food %></li>
          <li> Eaten on: <%= meal.day.strftime("%b %d, %Y") %></li>
        </ul>
       <p>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(meal.created_at) %> ago</small></span>
       </p>
    </div>
  </div>
<% end %>
