<%= render "shared/page_title", title: "Your Meals" %>

<div class="col-md-8 well">
  <p>Meal Plan: <%= @meal.meal_plan.try(:goal)%></p>
<ul>
  <li>Food items: <%= @meal.food %></li>
  <li>Eaten on: <%= @meal.day.strftime("%b %d, %Y")%></li>
  <li>Favorite? <%= @meal.favorite %></li>
</ul>

<div class="recipe-actions">
  <%= link_to "Add Meal Schedule", new_meal_meal_schedule_path(@meal), class:"btn btn-xs btn-xlarge" %>
  <%= link_to "See Meal Schedules", meal_meal_schedules_path(@meal), class:"btn btn-xs btn-xlarge" %>
  <%= link_to "Edit Meal", edit_meal_path(@meal), class:"btn btn-xs btn-warning" %>
  <%= link_to "Delete Meal", meal_path(@meal), method: :delete, data: { confirm: "Are you sure you want to delete this meal?"}, class:"btn btn-xs btn-danger" %>
</div>
