<%= render "shared/page_title", title: "Your Meals" %>

<div class="col-md-8 well">
<ul>
  <li>Protein: <%= @meal.protein.capitalize %></li>
  <li>Veggies: <%= @meal.vegetable.capitalize %></li>
  <li>Sides: <%= @meal.side.capitalize %></li>
  <li><%= @meal.try(:beverage_ounces) %> ounces of <%= @meal.try(:beverage) %></li>
  <li>Eaten on: <%= @meal.day.strftime("%b %d, %Y")%></li>
  <li>Favorite? <%= @meal.favorite %></li>
</ul>
