<h1 align="center"> Your meals </h1>

<div class="col-md-8 well">
  <p>Meal Plan: <%= @meal.meal_plan.try(:goal)%></p>
<ul>
  <li>Food items: <%= @meal.food %></li>
  <li>Eaten on: <%= @meal.day.strftime("%b %d, %Y")%></li>
  <li>Favorite? <%= @meal.favorite %></li>
</ul>
</div>
  <%= link_to "Add Meal Schedule", new_meal_meal_schedule_path(@meal), class:"btn btn-danger btn-lg btn-xlarge" %>
  <%= link_to "See Meal Schedules", meal_meal_schedules_path(@meal), class:"btn btn-danger btn-lg btn-xlarge" %>


  <br><br>
    <%= link_to "Edit Meal", edit_meal_path(@meal),  class:"btn btn-danger btn-lg btn-xlarge" %>
    <%= link_to "Delete Meal", meal_path(@meal), method: :delete, class:"btn btn-danger btn-lg btn-xlarge"  %>
