<h1 align="center">All the meal schedules</h1>
<hr />
<% @meal_schedules.each do |mealschedule| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <div class="col-md-8 well">
       <p>For this meal: </p>
       <ul>
         <li><%= mealschedule.meal.try(:food) %></li>
         <li><%= mealschedule.meal.try(:day).strftime("%b %d, %Y") %></li>
         <li>Favorite? <%= mealschedule.meal.try(:favorite) %></li>
       </ul>
       <p><%= link_to "Meal Details:", meal_schedule_path(mealschedule) %></p>
       <ul>
         <li> Eating Time: <%= mealschedule.eating_time %></li>
         <li> Meal Type: <%= mealschedule.meal_type %></li>
       </ul>
       <p>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(mealschedule.created_at) %> ago</small></span>
       </p>
    </div>
  </div>
<% end %>
