<%= render "shared/page_title", title: "Current Meal Schedule" %>

<div class="col-md-8 well">
<p> Today you ate: </p>
  <ul>
    <li><%= @meal_schedule.meal.try(:food) %></li>
  </ul>
<p> Meal Details: </p>
  <ul>
    <li><strong><%= @meal_schedule.eating_time %></strong> (eating time)</li>
    <li><strong><%= @meal_schedule.meal_type %></strong> (type)</li>
  </ul>
</div>
<br><br>
  <%= link_to "Edit Meal Schedule", edit_meal_schedule_path(@meal_schedule),  class:"btn btn-danger btn-lg btn-xlarge" %>
  <%= link_to "Delete Meal Schedule", meal_schedule_path(@meal_schedule), method: :delete, class:"btn btn-danger btn-lg btn-xlarge"  %>
